*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: white;
}
nav{
    position: static;
    background: white;
    width: 100%;
}
nav .main{
    max-width: 1650px;
    margin: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 20px;
}
nav .main .logo img{
    height: 145px;
    width: 150px;
    padding-top: 15px;
}
.logo {
    height: 70px;
    transition: transform 0.3s ease-in-out, filter 0.5s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}
nav .main ul{
    padding-right: 20px;
    list-style: none;
    display: inline-flex;
    
}
.main ul li a{
    text-decoration: none;
    padding: 8px;
    line-height: 150px;
    color: black;
    font-size: 16px;
    font-weight: 240;
    border-radius: 8px;
    transition: all o.5s ease;
}
.main ul li a:hover{
    background-color: black;
    color: white;
}
marquee{
    border: 2px;
    line-height: 40px;
    background-color: #004080;
    color: white;
    font-size: 1rem;
}
.registration{
    display: inline-flex;
}
table, h2{
    border-collapse: collapse;
    margin-left: 30px;
    padding-top: 60px;
    width: 640px;
}
th, td{
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even) {
    background: #dddddd;
}
.acc-dtls{
    padding-left: 80px;
}
.form-label{
    padding-top: 20px;
    line-height: 30px;
}
.form-label span{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

.contact{
    background: gray;
    margin-top: 60px;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 5rem;
    height: 300px;
    padding: 10px 0;
}
.first-info{
    padding-left: 25px;
    padding-top: 90px;
}
.social-icons i{
    font-size: 35px;
    margin-right: 10px;
    padding: 10px 0;
}
.social-icons i:hover{
    color: white;
    line-height: 35px;
}
.second-info{
    padding-left: 25px;
    padding-top: 90px;
    line-height: 35px;
}
.third-info{
    padding-left: 25px;
    padding-top: 90px;
    line-height: 35px;
}
.form .box{
    padding: 10px 12px;
    border: none;
    border-radius: 9px;
}
.form .button{
    margin-top: 10px;
    padding: 10px 12px;
    border: none;
    border-radius: 9px;
    background: rgb(48, 48, 185);
    color: white;
}
.form .button:hover{
    background: black;
}
 