body{
    font-family: sans-serif ;
    overflow-x: hidden;
  }
  *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  nav{
    height: 110px;
    background: #2c3e50;
    position: relative;
  }
  nav img{
    width: 80px;
    position: absolute;
    top: 9px;
    left: 2%;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 110px;
    margin: 0 10px;
  }
  nav ul li a{
    position: relative;
    color: white;
    padding: 5px 0;
  }
  nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
  }
  nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
  }
  label #btn, label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 110px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

marquee{
    border: 2px;
    background-color: #004080;
    color: white;
    line-height: 40px;
    font-size: 1rem;
}
.content{
    display: flex;
    padding-left: 35px;
    line-height: 50px;
    font-size: 18px;
}
.sub-logo{
   padding-left: 160px;
   padding-top: 60px;
}
.sub-logo img{
    height: 225px;
    width: 250px;
    padding-top: 15px;
}
.globe{
    display: flex;
    padding-left: 35px;
}
.globe-content{
    background: #3A7CA5;
    width: 100%;
    height: 480px;
    padding-top: 20px;
}
.globe-content i{
    padding: 0 50px;
    color: white;
}
.main-para{
    padding-left: 20px;
    line-height: 30px;
    padding-top: 10px;

}
.contact{
    background: gray;
    margin-top: 60px;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 5rem;
    height: 300px;
    padding: 10px 0;
}
.first-info{
    padding-left: 25px;
    padding-top: 90px;
}
.social-icons i{
    font-size: 35px;
    margin-right: 10px;
    padding: 10px 0;
}
.social-icons i:hover{
    color: white;
}
.second-info{
    padding-left: 25px;
    padding-top: 90px;
}
.third-info{
    left: 25px;
    padding-top: 90px;
}
.form .box{
    padding: 10px 12px;
    border: none;
    border-radius: 9px;
}
.form .button{
    margin-top: 10px;
    padding: 10px 12px;
    border: none;
    border-radius: 9px;
    background: rgb(48, 48, 185);
    color: white;
}
.form .button:hover{
    background: black;
}
