
.navbar-nav .nav-item .nav-link{
  color: white;
  font-weight: 400
}
.nav-link{
  position: relative;
}
.nav-link::after{
  content: '';
  opacity: 0;
  height: 2px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.4s linear;
}
.nav-link:hover::after{
  opacity: 1;
  transform: scaleX(1);
  transform-origin: left;
}
.nav-item a{
  margin: 5px;;
}
.navbar{
  background-image: linear-gradient(135deg, #1E293B, #3B82F6);
}
marquee{
  border: 2px;
  background-image: linear-gradient(to right,#004080 , #1E293B);
  line-height: 40px;
  color: white;
  font-size: 1rem;
}
.date-list {
  font-size: 31px;
  color: #4a3c75;
  line-height: 2;
  padding-left: 50px;
  padding-top: 20px;
}
.strikethrough {
  text-decoration: line-through;
  color: #ff6600;
}
.hard-deadline {
  color: red;
  font-weight: bold;
}
.highlight-green {
  color: green;
  font-weight: bold;
}
.highlight-orange {
  color: orange;
  font-weight: bold;
}

.footer{
  background-color: #1E293B;
  color: white;
  padding: 20px 0;
  text-align: center;
}
.footer .social-icons i{
  margin: 0 10px;
  margin-top: 10px;
  color: white;
  font-size: 2rem;
}
.footer .social-icons i:hover{
  color: #004080;
}
.email-form input[type="email"] {
  padding: 12px;
  border-radius: 8px;
  width: 250px;
  font-size: 16px;
  margin-right: 10px;
}
.email-form button {
padding: 12px 20px;
background-color: #3B82F6;
color: white;
border: none;
border-radius: 8px;
font-size: 16px;
cursor: pointer;
transition: background 0.3s;
}

.email-form button:hover {
background-color: #2563EB;
}


