<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='about.css')}}">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>International Conference</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{url_for('static', filename='images/santhiramlogo1.png')}}" alt="img" width="100" height="94"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('theme') }}">Theme</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('paper_submission') }}">Paper Submission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('important_dates') }}">Important Dates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('registration') }}">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('team') }}">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('keynote') }}">Keynote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('publication') }}">Publication</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('nearby_locations') }}">Nearby location</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
    welcome to santhiram Engineering College
 </marquee>

 <section class="about my-3">
  <div class="container text-center">
    <div>
      <h1 data-aos="fade-up">About SREC</h1>
      <hr / class="w-25 mx-auto">
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-12" data-aos="zoom-out-up">
        <p>Santhiram Engineering College (SREC) is sponsored by M/s Sri Shirdi Sai Educational Academy, Nandyal. SREC is established under the able guidance of Dr. M. Santhiramudu, Chairman in the year 2007 with a noble motto “Education for peace and progress”. SREC is approved by AICTE, New Delhi: Recognized by UGC under 2(f) and 12 (B): Permanently Affiliated to JNTUA, Anathapuramu: Certified to an ISO 9001:2015. The college is ranked as one of the Best Engineering Colleges of JNTUA. Ananthapuramu.</p>
        <p>SREC is situated on NH-40, 12 KM away from Nandyal, Kurnool Dist. Andhra Pradesh. It is a learning abode for 1600+ Students. The Campus is pollution free and its serene environment is ideally suited for academic activities. Our goal is to produce Engineers and Managers who can contribute to the progress of the Nation and the World through excellent Scientific, Technical Innovations and Research Activities.

        </p>
      </div>

      <div class="image col-sm-12 col-md-6 col-lg-6 col-12 m-auto text-end" data-aos="fade-up-left">
        <img src="{{url_for('static', filename='images/santhiram3.jpg')}}" alt="" width="500" height="400" class="img-fluid img-thumbnail">
    </div>
  </div>

  <div class="container text-center my-5">
    <div>
      <h1 data-aos="fade-right">About ECE</h1>
      <hr / class="w-25 mx-auto">
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-12" data-aos="fade-left">
        <p>Anticipating the significance of the electronics and wireless communication realistic rolein the society, industry and among the public, the Department of Electronics and Communication Engineering has been started carrying up its rationale since 2007 concentrating and imparting electronic & technological solutions in to the young minds of the Society.</p>
        <p>The Department was initially started with an intake of 60 seats since the opportunities are stupendous and the increase in demand for the production of engineers itis upgraded to 90 seats in 2008. The intake has increased further to 120 in the year 2009. Forecasting the tremendous growth & opportunities in VLSI, the Department also started a Master of Technology (M. Tech) program in VLSI System Design in the year 2011 with an intake of 12 seats. The department received an ISO 9001:2015 certification for its qualitative functioning. The objectives of the department include: to produce quality engineers, indulge in research and promote the students to be active in entrepreneurship.</p>
        <p>The faculty has been involved in teaching and research in the diverse aspects such as Wireless Communications & Networking, Microelectronics and VLSI, Digital Image Processing and Antenna design. The department has state of the art laboratories. The faculty is entrusted to bring fine research, developmental and design experience into the classroom, ensuring that our students are being treated as professional engineers in all parts of global engineering and the scientific community. The department extends its unwavering support for the growth of every student fulfilling their dreams. The department also extended its support to groom and nurture the qualities of teamwork, leadership, mutual understanding and co-ordination providing exposure to public and executive communication.</p>
      </div>

      <div class="image col-sm-12 col-md-6 col-lg-6 col-12 m-auto text-end" data-aos="fade-up-right">
        <img src="{{url_for('static', filename='images/santhiram1.jpg')}}" alt="" width="500" height="400" class="img-fluid img-thumbnail">
    </div>
  </div>
 </section>

 <section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-12">
        <h2>Connect</h2>
        <h6>Bringing scholars together for global knowledge exchange.</h6>
        <div class="social-icons">
          <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.instagram.com/srecndl?igsh=bDRra2Vqa3lydnQ2" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
          <div>
          <p style="text-align: center; padding-top: 10px;">Engage | Inspire</p>
          <p style="text-align: center;">emnac2026@gmail.com</p>
          <p style="text-align: center;">+918888888888</p>
          <h3>Enter your email address</h3>
          <p style="text-align: center;">Your email for updates</p>
          <form class="email-form">
            <input type="email" placeholder="Your Email Address" required>
            <button type="submit">Submit for conference updates</button>
          </form>
          </div>
      </div>
      </div>
    </div>
  </div>
 </section>



  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>
