<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='team.css') }}">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>International Conference</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{url_for('static', filename='images/santhiramlogo1.png')}}" alt="img" width="100" height="94"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('main.home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.theme') }}">Theme</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.paper_submission') }}">Paper Submission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.important_dates') }}">Important Dates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.registration') }}">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.team') }}">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.keynote') }}">Keynote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.publication') }}">Publication</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.contact') }}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.nearby_locations') }}">Nearby location</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
    Welcome to Santhiram Engineering College (Autonomous)
 </marquee>

    
     
    <main>
        <section class="content container my-4">
            <h2>General Chairs:</h2>
                <ul>
                    <li>Dr. M. V. Subramanyam, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                    <li>Dr. Shaik Asif Hussain, Middle East College, Muscat, Oman</li>
                </ul>

                <h2>Steering Committee members: </h2>
                <h5>IEEE Hyderabad Section to nominate steering committee members</h5>
                <ul>
                    <li>Dr. Y. Mallikarjuna Rao, Santhiram Engineering College, Nandyal, Andhra Pradesh, India </li>
                    <li>Prof. Isabelle Bloch , Telecom Paris Tech Saint Mary’s University, France</li>
                    <li>Dr. M. Y. Veeresh, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                    <li>Prof. FerranMarqués, UniversitatPolitècnica de Catalunya, Spain</li>
                </ul>

     
                 <h2>Technical Program Committee chair:</h2>
                 <ul>
                    <li>Prof. T. Ramashri, S.V.University College of Engineering, Tirupati, India.</li>
                 </ul>
     
                 <h2>Technical Program Committee:</h2>
                 <h5>IEEE Hyderabad Section to nominate Technical Program Committee members</h5>
                 <ul>
                    <li>Prof. Aaron Stillmaker, Lyles College of Engineering, California State University, Fresno</li>
                    <li>Prof. Erfan Abbasian, Babol Noshirvani University of Technology, Mazandaran, Iran.</li>
                    <li>Prof. YannGousseau, Telecom Paris Tech, paris</li>
                    <li>Prof. Nikhil Jayakumar, Texas A&M University, College Station, TX</li>
                    <li>Dr. Jorge Eduardo Rico Brieva, Universidad Panamericana Mexico</li>
                    <li>Prof. Atul Negi, Professor, University of Hyderabad, Telangana</li>
                    <li>Prof. Siva Rama Krishna Vanjari IIT HYD, India</li>
                    <li>Dr. Nagini Macha, Senior Scientist, SATHI-CISCoM Centre, IIT Hyderabad</li>
                    <li>Prof. Srinivasulu Jogi, NIT-Trichy, India</li>
                    <li>Prof. V. Ramesh Kumar, IIIT-Sri City, Chittoor, Andhra Pradesh, India</li>
                    <li>Prof. Manoj kumar mujumder, IIIT-Naya Raipur, India</li>
                    <li>Prof. M. Satish, NIT-Warangal, India</li>
                    <li>Prof. B. Naresh Kumar Reddy, NIT-Trichy, India</li>
                    <li>Prof. B. Anuradha, SVU, Tirupati, Andhra Pradesh, India</li>
                    <li>Prof. D. Vishnu Vardhan, JNTUA, Andhra Pradesh, India </li>
                    <li>Prof. V. Vijaya Kishore, KSRM, Kadapa, Andhra Pradesh, India</li>
                    <li>Prof.  Vaddi Ramesh, SRM University, Andhra Pradesh, India</li>
                    <li>Prof. Bujjibabu Nannepaga, Andhra Loyola College, Vijayawada, Andhra Pradesh, India</li>
                 </ul>
     
                 <h2>Organizing Committee chairs:</h2>
                 <ul>
                    <li>Dr. N. Praveen Kumar, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                    <li>Dr. K. Rajkumar, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                    <li>Dr. S. Javid Basha, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                 </ul>
     
                 <h2>Finance Committee Chairs:</h2>
                 <ul>
                    <li>Mr. S. Rambabu, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                    <li>Mr. V. Sankarnath, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                 </ul>

                 <h2>Publicity Committee Chairs:</h2>
                 <ul>
                    <li>Mrs. P. Mary Swetha, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                    <li>Dr. Erfan Abbasian, Babol Noshirvani University of Technology, Mazandaran, Iran.</li>
                    <li>Mrs. V. Nagamani, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                    <li>Dr. Acosta, Oscar Université de Rennes Campus de Beaulieu, Rennes, France</li>
                 </ul>

                 <h2>Publicity Committee:</h2>
                 <ul>
                    <li>Mr. P. Surendra Babu, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                    <li>Dr. Aditya Japa, Ulster University, Northern Ireland</li>
                    <li>Dr. Altuve, Simon Bolivar University,Venezuela</li>
                    <li>Julia Schnabel, University of Oxford, UK</li>
                    <li>Dr. Jianfei Liu, Duke University Medical Center, USA</li>
                    <li>Mr. M. Mahesh Kumar, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                    <li>Mr. S. Munnawar, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                    <li>Mr. N. Sreenivasa Rao, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                    <li>Mr. S. Gireesh Babu, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                    <li>Mrs. S. Jayamangala, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                 </ul>

                 <h2>Publication Committee Chair:</h2>
                 <ul>
                    <li>Dr.C.Kumar, Madanapalle Institute of Technology & Science</li>
                    <li>Dr. S. Javid Basha, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                 </ul>

                 <h2>Publication Committee:</h2>
                 <ul>
                    <li>Dr. G. Sowmya Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                    <li>Mr. S. Mohammad Eliyas, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                    <li>Mr. K. Vinod Kumar, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                    <li>Mrs. G. Neelima, Santhiram Engineering College, Nandyal, Andhra Pradesh, India</li>
                 </ul>

                 <h2>Advisory Committee:</h2>
                 <ul>
                    <li>Prof. Amit Acharyya, IIT-HYD, Telangana, India</li>
                    <li>Prof. G. Umamaheswara Reddy, SVU, Tirupati, Andhra Pradesh, India</li>
                    <li>Prof. K. Venkata Ramanaiah, YVU, Kadapa, Andhra Pradesh, India</li>
                    <li>Prof. Gábor Székely Swiss Federal Institute of Technology (ETH Zürich), Switzerland</li>
                 </ul>
             </section>
         </main>     
         <section class="footer">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-12">
                  <h2>Connect</h2>
                  <h6>Bringing scholars together for global knowledge exchange.</h6>
                  <div class="social-icons">
                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/srecndl?igsh=bDRra2Vqa3lydnQ2" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                    <div>
                    <p style="text-align: center; padding-top: 10px;">Engage | Inspire</p>
                    <p style="text-align: center;">principal@srecnandyal.edu.in</p>
                    <p style="text-align: center;">9866308475</p>
                    <h3>Enter your email address</h3>
                    <p style="text-align: center;">Your email for updates</p>
                    <form class="email-form">
                      <input type="email" placeholder="Your Email Address" required>
                      <button type="submit">Submit for conference updates</button>
                    </form>
                    </div>
                </div>
                </div>
              </div>
            </div>
           </section>
          
          
          
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
          
          <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
          <script>
            AOS.init();
          </script>

    </body>
</html>