<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='team.css') }}">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>International Conference</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{url_for('static', filename='images/santhiramlogo1.png')}}" alt="img" width="100" height="94"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('main.home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.theme') }}">Theme</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.paper_submission') }}">Paper Submission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.important_dates') }}">Important Dates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.registration') }}">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.team') }}">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.keynote') }}">Keynote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.publication') }}">Publication</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.contact') }}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.nearby_locations') }}">Nearby location</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
    welcome to santhiram Engineering College
 </marquee>

    
     
    <main>
        <section class="content container my-4">
                <h2>General Chairs:</h2>
                <ul>
                    <li>Dr.M.Santhiramudu </li>
                    <li>Er.M.Sivaram </li>
                </ul>
     
                 <h2>Program Chairs:</h2>
                 <ul>
                    <li>Prof.M.V.Subramanyam</li>
                 </ul>
     
                 <h2>Prominent Program Committee members:</h2>
                 <ul>
                    <li>Dr.G.Sowmya</li>
                    <li>Mr.S.Rambabu</li>
                    <li>Mrs.V.Nagamani</li>
                    <li>Mr.N.Sreenivasa Rao</li>
                    <li>Mrs.B.Alekhya Himabindu</li>
                    <li>Mr.M.Mahesh Kumar</li>
                    <li>Mr.S.Munnawar</li>
                 </ul>
     
                 <h2>Publications Committee:</h2>
                 <ul>
                    <li>Dr.S.Javid Basha</li>
                    <li>Dr.K.Rajkumar</li>
                    <li>Dr.N.Praveen Kumar</li>
                    <li>Mr.V.Sankarnath</li>
                    <li>Mr.S.Mohammad Eliyas</li>
                 </ul>
     
                 <h2>Finance Committee:</h2>
                 <ul>
                    <li>Mr.V.Sankarnath</li>
                    <li>Mr.S.Rambabu</li>
                    <li>Mr.S.Mohammad Eliyas</li>
                 </ul>

                 <h2>Publicity Committee:</h2>
                 <ul>
                    <li>Mrs.P.Mary Swetha</li>
                    <li>Mr.P.Surendra Babu</li>
                    <li>Mrs.S.Jayamangala</li>
                    <li>Mr.K.vinod Kumar</li>
                    <li>Mrs.G.Neelima</li>
                    <li>Mr.S.Gireesh Babu</li>
                 </ul>

                 <h2>Local Organizing Committee:</h2>
                 <ul>
                    <li>Dr.K.Rajkumar</li>
                    <li>Dr.N.Praveen Kumar</li>
                    <li>Dr.S.Javid Basha</li>
                 </ul>

                 <h2>Advisory Committee:</h2>
                 <ul>
                    <li>Prof.B.Anuradha, S V University</li>
                    <li>Prof.D.Vishnu Vardhan, JNTUA</li>
                    <li>Prof.T.Narendra, NIT-Warangal</li>
                    <li>Dr.V.Narendra Kumar, NIT-Warangal</li>
                    <li>Dr.Manoj Kumar mujumder, IIT-Naya Raipur</li>
                    <li>Prof.V.Vijaya Kishore, KSRM</li>
                    <li>Dr.C.Shiv Nath, DHMIER</li>
                    <li>Dr.B.Naresh Kumar Reddy</li>
                    <li>Dr.N.Geetha Rani, JNTUA</li>
                    <li>Dr.Bukke Chandrababu Naik, NIT-Trichy</li>
                 </ul>
             </section>
         </main>     
         <section class="footer">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-12">
                  <h2>Connect</h2>
                  <h6>Bringing scholars together for global knowledge exchange.</h6>
                  <div class="social-icons">
                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/srecndl?igsh=bDRra2Vqa3lydnQ2" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                    <div>
                    <p style="text-align: center; padding-top: 10px;">Engage | Inspire</p>
                    <p style="text-align: center;">emnac2026@gmail.com</p>
                    <p style="text-align: center;">+918888888888</p>
                    <h3>Enter your email address</h3>
                    <p style="text-align: center;">Your email for updates</p>
                    <form class="email-form">
                      <input type="email" placeholder="Your Email Address" required>
                      <button type="submit">Submit for conference updates</button>
                    </form>
                    </div>
                </div>
                </div>
              </div>
            </div>
           </section>
          
          
          
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
          
          <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
          <script>
            AOS.init();
          </script>

    </body>
</html>